@font-face {
  font-family: 'Balloon';
  src: url('balloon-font.TTF.eot');
  src: url('balloon-font.TTF.eot?#iefix') format('embedded-opentype');
  src: url('balloon-font.woff') format('woff'),
       url('balloon-font.TTF') format('truetype'),
       url('balloon-font.svg#Balloon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'So Random!';
  src: url('So Random!.eot');
  src: url('So Random!.eot?#iefix') format('embedded-opentype');
  src: url('SoRandom!.woff') format('woff'),
       url('SoRandom!.ttf') format('truetype'),
       url('SoRandom!.svg#SoRandom!') format('svg');
  font-weight: normal;
  font-style: normal;
}